# Entorno virtual
.venv/
venv/
ENV/
env/
.venv
env.bak/
venv.bak/

# Archivos de configuración
.vscode/
*.env
config.py

# Caches de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de migración (si no deseas subirlos)
migrations/

# Archivos de registro
*.log

# Archivos de Docker
Dockerfile
docker-compose.yml

# Archivos de paquetes y dependencias
*.lock
Pipfile
Pipfile.lock
requirements.txt

# Historial y archivos temporales
.history/
*.bak
*.swp
*.swo

# Otros archivos y directorios
.idea/
*.sqlite3
*.db
*.DS_Store
